body {
    color: #444444
}

#wrapper {
    background: #ffffff
}

a, a:hover {
    color: #4d94cd
}

a:visited {
    color: #85228c
}

#site-name a, #header h3 {
    color: #333333
}

#main-navigation a.active-trail {
    background: #ffffff
}

#main-navigation a {
    background: #001c64;
    border-color: #001c64;
    color: #fefefe
}

#main-navigation a:hover {
    background: #ffffff;
    color: #444444
}

#header {
    border-top-color: #8b2ebc;
    background-color: #001c65
}

.sidebars .block {
    border-color: #e0e0e0
}

#navlinks.button, #navmobile, #search-block-form input[type=submit], #cernsearch-block-form input[type=submit] {
    color: #fefefe;
    background-color: #001c64
}

#footer{
    background-color: #999999;
}

#footer .block h2{
    color: #999999;
}